.historyBox {
  width: 200px !important;
  height: 100px !important;
  background-color: pink !important;
  display: none;
  position: absolute !important;
  bottom: 0 !important;
  transform: translateY(90px);
  z-index: 99999 !important;
  color: #333 !important;
}
.historyBox li {
  cursor: pointer;
}
.historyBox li:hover {
  background-color: antiquewhite;
}
